a .next {
    display: inline-block;
    background-size: cover;
}

a .prev {
    rotate: 180deg;
    display: inline-block;
    background-size: cover;
}

a .pageButton:hover {
    transform: scale(1.2);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--principal-color);
}

ion-icon {
    cursor: pointer;
}

.pageButton {
    height: 32px;
}