:root {
    --principal-color: #4caf50;
    --secondary-color: #000;
    --third--color: #121212;
    --principal-font: "Montserrat", sans-serif;
    --hover-background: rgba(62, 62, 62, 0.5)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./Assets/Background2.jpg");
    background-position: center;
    background-repeat: no-repeat;
}